<!DOCTYPE html><html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrapの基本テンプレート</title>

<! -- ここがBootstrapのCDN -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css";; rel="stylesheet">
</head>
<body>
<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h1><a href="/">POST YOUR NAME</a></h1>
   <p>文字を入力するとその文字を取得できます</p>
   {% if show_text %}
   <p>{{show_text}}</p>
   {% endif %}
   <form class="form-inline" method="post">
    <div class="form-group">
     <label class="sr-only" for="show_text"></label>
     <div class="input-group">
      <!-- <span class="input-group-addon">@</span> -->
      <input id="show_text" name="show_text" placeholder="ここに文字を入力してください" type="text" class="form-control">
     </div>
    </div>
    <button type="submit" class="btn btn-primary">取得する</button>
   </form>
  </div>
 </div>
</div>


     <! -- ここがBootstrapのCDN -->
　　　<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js";></script>
　　　<! -- ここがBootstrapのCDN -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js";></script>
</body>
</html>
